main {
  display: flex;
  align-items: center;
  padding-left: 500px;
  height: 105vh;
  background-color: #181a25;
  color: #e9e9ee;
}
.main-wrapper {
  position: absolute;
  padding: 30px;
  animation: article-load 1000ms ease-in 900ms;
  animation-fill-mode: forwards;
  transform: translateX(-1000%);
}

.main-wrapper p {
  font-family: "Chivo Mono", monospace;
  font-size: 24px;
  max-width: 600px;
}

.main-wrapper p:first-of-type {
  margin: 0;
}

h1 {
  margin: 5px 0;
  font-size: 80px;
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
  color: rgb(199, 104, 104);
}

.stack {
  display: flex;
  margin-top: 40px;
}

.stack .title {
  color: #a7a7a7;
  border-right: 1px solid #a7a7a7;
  padding-right: 10px;
  font-weight: 500;
  line-height: 1.7;
  align-self: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.stack-wrap {
  padding-left: 5px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 30px;
  bottom: 125px;
  align-items: center;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials svg {
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
  background-color: #181a25;
  border-radius: 50px;
}

.socials .linkedin svg {
  border-radius: 5px;
}

.socials svg:hover {
  color: rgb(211, 140, 140);
}

.vl {
  border-left: 2px solid white;
  height: 100px;
}

.btn-down {
  background: none;
  border: none;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  z-index: 100;
}

.btn-down svg {
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #e9e9ee;
  transform: rotate(90deg);
}

@keyframes article-load {
  0% {
    transform: translateX(-1000%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1730px) {
  main {
    padding-left: 300px;
  }
}

@media (max-width: 1240px) {
  main {
    padding-left: 180px;
  }
  .socials {
    bottom: 0;
  }

  .socials svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 1000px) {
  main {
    padding-left: 100px;
  }

  h1 {
    font-size: 65px;
  }
}

@media (max-width: 775px) {
  main {
    padding-left: 0;
    justify-content: center;
  }

  .main-wrapper {
    max-width: 550px;
  }

  span.title {
    white-space: nowrap;
  }

  h1 {
    font-size: 50px;
  }

  .main-wrapper p {
    font-size: 20px;
  }

  .socials-wrap {
    display: none;
  }
}

@media (max-width: 420px) {
  .main-wrapper {
    padding: 0 15px;
  }

  h1 {
    font-size: 30px;
  }

  .main-wrapper p {
    font-size: 18px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}
