.projects-title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 60px 0 40px;
  color: rgb(209, 209, 209);
  transform: translateX(-400%);
  transition: transform 0.5s ease;
}

.projects-title.show {
  transform: translateX(0);
}

.arrow-btn {
  display: none;
}

.projects-container {
  color: #e9e9ee;
  background-color: #35384b;
  padding: 30px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  /* padding-bottom: 100px; */
}

.projects-wrap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateX(400%);
  transition: transform 0.5s ease;
}

.projects-wrap.show {
  transform: translateX(0);
}

.container {
  width: 100%;
  height: 100%;
  /* max-width: 600px;
  max-height: 600px; */
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
}

input {
  display: none;
}

.cards {
  position: relative;
  height: 45vh;
  width: 55vw;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  height: 100%;
  aspect-ratio: 16 / 9;
  left: 0;
  right: 0;
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card {
  position: relative;
  height: 100%;
  background-color: #323444;
  border-radius: 10px;
}

.card .image {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.card .image img {
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 18%;
}

.card .infos {
  position: absolute;
  max-width: 500px;
  left: -550px;
  transform: translateY(-50%);
  top: 50%;
  display: var(--display);
  cursor: auto;
}

.infos .name {
  font-size: 30px;
  color: var(--current-color1);
  letter-spacing: 8px;
  transition: all 0.6s ease;
}

.website-description {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.infos .tech {
  margin-bottom: 30px;
}

.infos span {
  line-height: 1.7;
  margin-right: 10px;
  animation: none;
  color: #c5c5c5;
}

.card .infos a {
  text-decoration: none;
  color: #e9e9ee;
  padding: 5px 35px;
  border: 3px solid #e9e9ee;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

.card .infos a:hover {
  background-color: #e9e9ee1a;
}

.card .infos a svg {
  margin-right: 12px;
}

.card .infos .github {
  padding: 5px 35px 5px 45px;
}

.card .infos .github svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(80%, 0, -280px);
  --current-color1: #eceaed;
  --current-color2: #404457;
  --display: none;
}

#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(10%, 0, 0);
  --current-color1: rgb(199, 104, 104);
  --current-color2: #eceaed;
  --display: block;
}

#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(38%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
  --display: none;
}

#s1:checked ~ .cards #slide3,
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(60%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
  --display: none;
}

.projects-wrap-mobile {
  display: none;
}

@media (max-width: 1700px) {
  .card .infos {
    max-width: 400px;
    left: -500px;
  }
}

@media (max-width: 1550px) {
  .projects-wrap {
    margin-top: 40px;
  }

  .card .infos {
    max-width: 400px;
    left: -500px;
  }

  .infos h3.name {
    font-size: 25px;
  }

  .website-description {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .card .infos {
    left: -430px;
  }
}

@media (max-width: 1385px) {
  .projects-wrap {
    margin-top: 60px;
  }

  .cards {
    height: 38vh;
    width: 48vw;
  }

  .card .infos {
    left: -450px;
  }

  .website-description {
    font-size: 14px;
  }
}

@media (max-width: 1300px) {
  .projects-wrap {
    margin-top: 75px;
  }

  .cards {
    margin-left: 164px;
  }

  .card .infos {
    left: -400px;
    max-width: 370px;
  }

  .cards {
    height: 38vh;
    width: 40vw;
  }
}

@media (max-width: 1020px) {
  .projects-container {
    height: 90vh;
  }

  .cards {
    margin-left: 0px;
    height: 37vh;
    width: 35vw;
  }

  .cards label {
    height: 70%;
  }

  .card .infos {
    left: 20px;
    top: 170%;
    max-width: 600px;
  }
}

@media (max-width: 770px) {
  .projects-container {
    height: 100vh;
  }

  .card .infos {
    top: 190%;
    left: 0;
  }
}

@media (max-width: 630px) {
  .projects-wrap {
    margin-top: 10px;
  }
  .card .infos {
    top: 180%;
    right: -100px;
    max-width: 700px;
  }

  .website-description {
    margin-bottom: 15px;
  }

  .infos h3.name {
    font-size: 18px;
  }

  .infos .tech {
    margin-bottom: 15px;
  }
}

@media (max-width: 539px) {
  .projects-container {
    padding: 0;
    height: unset;
  }

  .projects-wrap-mobile::-webkit-scrollbar {
    display: none;
  }

  .projects-container h2 {
    font-size: 40px;
    padding: 30px 0;
  }

  .arrow-btn {
    display: block;
    width: 100%;
    position: absolute;
    top: 38%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .arrow-btn svg {
    height: 45px;
    width: 25px;
    color: white;
    cursor: pointer;
    transition: 0.3s linear;
    padding: 0 8px;
  }

  .arrow-btn i:hover {
    color: rgb(189, 189, 189);
  }

  .projects-wrap-mobile {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .projects-wrap-mobile .mobile-card {
    min-width: 100%;
    scroll-snap-align: center;
  }

  .projects-wrap {
    display: none;
  }

  .projects-wrap-mobile img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: 50% -62%;
  }

  .projects-wrap-mobile .infos {
    padding: 0 15px 15px;
    margin-bottom: 30px;
  }

  .projects-wrap-mobile .infos .name {
    color: rgb(199, 104, 104);
    font-size: 22px;
    text-align: center;
  }

  .projects-wrap-mobile .infos p {
    text-align: justify;
    font-size: 16px;
  }

  .projects-wrap-mobile .infos a {
    text-decoration: none;
    color: #e9e9ee;
    margin-right: 8px;
    padding: 7px 15px;
    border: 2px solid #e9e9ee;
  }

  .link-btns {
    display: flex;
    justify-content: center;
  }

  .link-btns a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  .tech {
    text-align: center;
  }
}

@media (max-width: 410px) {
  .projects-container h2 {
    font-size: 30px;
  }

  .projects-wrap-mobile .infos p {
    font-size: 14px;
  }
}
