@import "./style/Intro.css";
@import "./style/Header.css";
@import "./style/About.css";
@import "./style/Projects.css";
/* @import "swiper/css.css";
@import "swiper/css/navigation";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination"; */
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400;500&family=Righteous&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e4e50;
}

::-webkit-scrollbar-track {
  background: rgb(236, 236, 236);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Chivo Mono", monospace;
}

.app {
  position: relative;
}

.particles-wrap {
  position: relative;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
